body {
	width: 1020px;
	margin: 0 auto;
}

.main {
	width: 1020px;
height: 648px;
background-color: #f06c64;
}

.getaquote {
	width: 1020px;
	height: 200px;
}

.get-a-quote {
	position: absolute;
	margin-top: 68px;
	margin-left: 40px;
	font-size: 30px;
line-height: 18px;
color: #f0d8d9;
font-family: "Lato";
font-weight: 900;
text-align: left;
}

.get-a-quote-text {
	position: absolute;
	margin-top: 112px;
	margin-left: 40px;
	width: 940px;
height: 57px;
font-size: 18px;
line-height: 30px;
color: #f0d8d9;
font-family: "Lato";
font-weight: 300;
text-align: left;
}

.forms {
	width: 1020px;
	height: 400px;
}

.form {
}

.info {
}

.name {
	text-indent: 1em;
	color: white;
	position: absolute;
	margin-top: 16px;
	margin-left: 40px;
	width: 619px;
height: 36px;
border: 0px solid black;
border-radius: 5px;
background-color: #d6564f;
}

.name::placeholder {
	text-indent: 14px;
	font-size: 12px;
line-height: 22px;
color: #f48c8f;
font-family: "Lato";
font-weight: 400;
text-align: left;
}

.email {
	color: white;
	text-indent: 1em;
	position: absolute;
	margin-top: 71px;
	margin-left: 40px;
	width: 619px;
height: 36px;
border: 0px solid black;
border-radius: 5px;
background-color: #d6564f;
}

.email::placeholder {
	text-indent: 14px;
	font-size: 12px;
line-height: 22px;
color: #f48c8f;
font-family: "Lato";
font-weight: 400;
text-align: left;
}

.subject {
	color: white;
	text-indent: 1em;
	position: absolute;
	margin-top: 126px;
	margin-left: 40px;
	width: 619px;
height: 36px;
border: 0px solid black;
border-radius: 5px;
background-color: #d6564f;
}

.subject::placeholder {
	text-indent: 14px;
	font-size: 12px;
line-height: 22px;
color: #f48c8f;
font-family: "Lato";
font-weight: 400;
text-align: left;
}

.describe {
	color: white;
	text-indent: 1em;
	position: absolute;
	margin-top: 180px;
	margin-left: 40px;
	width: 620px;
height: 200px;
border: 0px solid black;
border-radius: 5px;
background-color: #d6564f;
}

.describe::placeholder {
	text-indent: 14px;
	transform: translateY(5px);
	font-size: 12px;
line-height: 22px;
color: #f48c8f;
font-family: "Lato";
font-weight: 400;
text-align: left;
}

.contact-info {
	position: absolute;
	margin-left: 680px;
	margin-top: 18px;
	font-size: 18px;
line-height: 18px;
color: #f0d8d9;
font-family: "Lato";
font-weight: 900;
text-align: left;
}

.info-text {
	position: absolute;
	margin-left: 680px;
	margin-top: 46px;
	width: 300px;
height: 175px;
font-size: 12px;
line-height: 22px;
color: #f0d8d9;
font-family: "Lato";
font-weight: 400;
text-align: left;
}

.location {
	position: absolute;
	margin-left: 683px;
	margin-top: 158px;
}

.phone {
	position: absolute;
	margin-left: 680px;
	margin-top: 180px;
}

.mail {
	position: absolute;
	margin-left: 680px;
	margin-top: 204px;
}

.location-text {
		position: absolute;
		margin-left: 703px;
		margin-top: 153px;
	width: 120px;
height: 10px;
font-size: 12px;
line-height: 22px;
color: #f0d8d9;
font-family: "Lato";
font-weight: 400;
text-align: left;
	
}

.phone-text {
		position: absolute;
		margin-left: 703px;
		margin-top: 174px;
	width: 120px;
height: 10px;
font-size: 12px;
line-height: 22px;
color: #f0d8d9;
font-family: "Lato";
font-weight: 400;
text-align: left;
	
}

.mail-text {
		position: absolute;
		margin-left: 703px;
		margin-top: 195px;
	width: 120px;
height: 10px;
font-size: 12px;
line-height: 22px;
color: #f0d8d9;
font-family: "Lato";
font-weight: 400;
text-align: left;
	
}

.submit {
	cursor: pointer;
	width: 150px;
	border: 1px solid black;
	background-color: #f06c64;
	height: 50px;
	border-radius: 20px;
	position: absolute;
	margin-top: 390px;
	margin-left: 40px;
}

.forms-line {
	width: 1020px;
height: 6px;
background-color: #ea676b;
}

.footer {
	width: 1020px;
height: 76px;
background-color: #2d303a;
}

.copyright {
	position: absolute;
	font-size: 12px;
line-height: 22px;
color: #5a607a;
font-family: "Lato";
font-weight: 400;
text-align: left;
margin-left: 40px;
margin-top: 27px;
}

.buttons {
	position: absolute;
	margin-left: 826px;
	margin-top: 22px;
}

.button {
	margin-left: 3px;
	cursor: pointer;
	width: 32px;
height: 32px;
border-radius: 16px;
background-color: #2d303a;
border: 1px solid #666d89;
}